<div class="container">
  <img src="../../assets/img/Logo.png" alt="logo" />
  <div class="links">
    <div  (click)="clickEvent(0)"  
    [ngClass]="about ? 'active' : 'link'">
      <a  href="#" class="link">About me</a>
      <div></div>
    </div>

    <div (click)="clickEvent(1)"  
    [ngClass]="skills ? 'active' : 'link'">
      <a  href="#" class="link">Skills</a>
      <div></div>
    </div>
    <div  (click)="clickEvent(2)"  
    [ngClass]="portfolio ? 'active' : 'link'">
      <a href="#" class="link">Portfolio</a>
      <div></div>
    </div>
  </div>
</div>
