<div class="container">
    <div class="left">
        <h2 id="about-me">About me</h2>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita officiis animi error ab aperiam perferendis iste dolore, in commodi corrupti odit consequuntur dolorem soluta fuga nesciunt facere sunt iusto quasi.
        </div>
        <div class="fact">
            <img src="../../assets/img/light-bulb.png" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delenimi ad delectus similique non dignissimos minus eaque possimus.</p>
        </div>
        <div class="fact">
            <img src="../../assets/img/puzzle.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetut autem libero, earum quia. Voluptatum, ad excepturi?</p>
        </div>
    </div>
    <div class="right">
        <div class="image">
        <img src="../../assets/img/Mask group.png" alt="me">
        </div>
        <div class="center">
        <div class="line"></div>
        </div>
    </div>
    <div class="background-image">
        <img src="../../assets/img/background-shapes/Purple shadow (3).png" alt="">
    </div>

</div>