<div  id="about-me" class="container">
    <div class="left">
        <h2 >{{"about.title" | translate}}</h2>
        <div class="description">{{"about.description" | translate}}
        </div>
        <div class="fact">
            <img src="../../assets/img/light-bulb.png" alt="">
            <p>
                {{"about.fact1" | translate}}</p>
        </div>
        <div class="fact">
            <img src="../../assets/img/puzzle.png" alt="">
            <p>{{"about.fact2" | translate}}</p>
        </div>
    </div>
    <div class="right">
        <div class="image">
        <img src="../../assets/img/close-me.png" alt="me">
        </div>
        <div class="center">
        <div class="line"></div>
        </div>
    </div>
    <div class="background-image">
        <img src="../../assets/img/background-shapes/Purple shadow (3).png" alt="">
    </div>

</div>