@import "../../../styles.scss";

$grey: #141D2F;


.container {
    position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1440px;
  height: 10vh;
  background-color: $backgroundColor;
  color: white;
  z-index: 10;


  > div {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 10vw;
  }
}

.logo {
  padding-left: 10vw;
  font-weight: 400px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.i{
  margin-left: -15px;
  color: $darkBlue;
}

.d{
  margin-left: -15px;
  color: $lightBlue;
}

.link {
  text-decoration: none;
  color: #e2e3e5;
  font-weight: 400px;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: $lightBlue;
  }
}

.active {
    >a{
        color: $lightBlue;
    }

  > div {
    width: 55px;
  }
}


.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 90vh;
  background-color: rgba($color: $grey, $alpha: 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  margin-top:10vh;
  transition: display 0.5s ease-in-out;
}

.overlay.active {
  @include dFlex();
}

#menu {
  @include dFlex();
  flex-direction: column;
 
  gap: 29px;
  width: fit-content;
  height: 32px;
}

.links-mobile {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 23px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $darkBlue;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {

    transform: scaleX(1);
    transform-origin: bottom left;
  }

  > a {
    color: white;
    text-decoration: none;

    &:hover{
      color: $lightBlue;
    }

    &:hover::after{
      color: $lightBlue;
    }
  }


}

#menu-toggle{
  display: none;
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 5;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 15;
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-15px, -10px);
  background: white;
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-10px, 4px);
}




@media (max-width: 650px) {
  .link{
    display: none;
  }

  #menu-toggle {
    display: block;
  }
}

@media (max-width: 400px) {
  .logo {
    margin-left: 10px;
  }

  #menu-toggle {
    margin-right: 10px;
  }
}




