<div class="container">
  <div class="logo">
    <span>Dav</span><span class="i">i</span>
    <span class="d">d</span>
  </div>
  <div class="links">
    <div  (click)="clickEvent(0)"  
    [ngClass]="about ? 'active' : 'link'">
      <a  href="#" class="link">About me</a>
      <div></div>
    </div>

    <div (click)="clickEvent(1)"  
    [ngClass]="skills ? 'active' : 'link'">
      <a  href="#" class="link">Skills</a>
      <div></div>
    </div>
    <div  (click)="clickEvent(2)"  
    [ngClass]="portfolio ? 'active' : 'link'">
      <a href="#" class="link">Portfolio</a>
      <div></div>
    </div>
  </div>
</div>
