<div class="container">
  <h1>{{ "imprint.imprint" | translate }}</h1>

  <h2>{{ "imprint.information" | translate }}</h2>

  <div>
    Frontend-Developer <br />
    David Velickovic
  </div>

  <h3>{{ "imprint.post" | translate }}</h3>
  <div>
    Dinghoferstraße 61<br />
    4020 Linz
  </div>

  <h3>{{ "imprint.contact" | translate }}</h3>

  <div>
    Mobil: <a href="tel:06606619150">06606619150</a><br />
    Email:
    <a href="mailto:davidvelickovic@hotmail.com"
      >davidvelickovic&#64;hotmail.com</a
    >
  </div>

  <h3>{{ "imprint.information2" | translate }}</h3>
  <div>
    {{ "imprint.law" | translate }}
  </div>
  <div>    {{ "imprint.obligated" | translate }}</div>
  <div>
    {{ "imprint.foot1" | translate
  }}
    <a
      href="https://www.activemind.de/datenschutz/generatoren/impressum/"
      target="_blank"
      >{{
        "imprint.generator" | translate
      }}
    </a>
    {{ "imprint.foot2" | translate }}
  </div>
</div>
