<div class="container">
  <h1>Imprint</h1>

  <h2>Information according to § 5 TMG</h2>

  <div>
    Frontend-Developer <br />
    David Velickovic
  </div>

  <h3>Postal adress</h3>
  <div>
    Dinghoferstraße 61<br />
    4020 Linz
  </div>

  <h3>Contact</h3>

  <div>
    Mobil: <a href="tel:06606619150">06606619150</a><br />
    Email:
    <a href="mailto:davidvelickovic@hotmail.com"
      >davidvelickovic&#64;hotmail.com</a
    >
  </div>

  <h3>Information according to § 36 VSBG</h3>
  <div>
    In accordance with § 36 VSBG (Consumer Dispute Resolution Act - Act on
    Alternative Dispute Resolution in Consumer Matters), the operator of this
    website declares: We are neither willing nor obliged to participate in
    dispute resolution proceedings before a consumer arbitration board.
  </div>
  <div></div>
  <div>
    The imprint was created with the Imprint-generator of the activeMind AG
    <a
      href="https://www.activemind.de/datenschutz/generatoren/impressum/"
      target="_blank"
      >Imprint-generator of the activeMind AG
    </a>
    .
  </div>
</div>
