@import "../../../styles.scss";

.container {
    width: 90vw;

    margin-top: 15vh;
 

    height: 80vh;
    max-width: 1440px;

    >div{
        font-family: poppins-light;
        font-size: 18px;
        padding-bottom: 24px;

    }
  }
  
  * {
    color: white;
    > a {
      color: #9747ff;
    }
  }
  
  h1 {
    font-size: 64px;
  }
  @media (max-width: 650px) {
    .container{
        width: 90vw;
        margin-bottom: 25vh;
    }
    h1 {
      font-size: 38px
    }
  }