@import "../../styles.scss";

.content {
  background-color: $backgroundColor;

}

.container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80vh;
  max-width: 1440px;
}
.background-image {
  position: absolute;
  height: 500px;
  background-image: url("../../assets/img/background-shapes/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  top: 300px;
  left: 0;
  right: 0;
  z-index: -1;
}
.picture {
  @include dFlex();
  flex-direction: column;
}

.image {
  background-image: url("../../assets/img/background-shapes/Group\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 750px;
  height: 600px;
  @include dFlex();
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 250px;
}

#left-side-img {
  width: 550px;
  height: 600px;
  z-index: 2;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 250px;
  filter: drop-shadow(0.5px 0.5px 5px);
}

.text {
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 80vw;
}

.headline {
  display: flex;
  width: fit-content;
  height: 250px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :last-child {
    padding-top: 20px;
  }
}

.i-am {
  position: absolute;
  top: 45px;
  left: -120px;
  color: white;
  font-size: 64px;
  font-weight: 400;
  rotate: 270deg;
  width: fit-content;
  height: fit-content;
  animation: falling-top 1.5s ease-in-out;
}

.name {
  color: white;
  font-weight: 700;
  font-size: 70px;
  width: 100%;
  animation: coming-right 1.5s ease-in-out;
}

.profession {
  color: $lightBlue;
  font-weight: 400;
  font-size: 48px;
  width: 100%;
  animation: pendulum-bottom 1.5s ease-in-out;
}

@keyframes falling-top {
  0% {
    top: -250px;
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes coming-right {
  0% {
    transform: translateX(300px) rotate(180deg) scale(2);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes pendulum-bottom {
  0% {
    transform-origin: 70% 0%;
    rotate: (-90deg);
    scale: (1);
    color: $darkBlue;
  }
}

.bottom {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  max-width: 1440px;
}
.line {
  width: 100px;
  border: 1px solid $lightBlue;
  margin-right: 30px;
}

.symbols {
  @include dFlex();
  gap: 20px;

  > img {
    height: 30px;
    width: 30px;
  }

  > p {
    color: white;
    text-decoration: none;
  }
}

.scroll-down {
  color: white;
  rotate: 90deg;
  display: flex;
  justify-content: center;
  align-items: center;

  > .arrow-down-line {
    rotate: -90deg;
    height: 18px;
    width: 18px;
    padding-left: 5px;
    margin-top: 5px
  }
}

@keyframes flashing {
  0% {
    scale: (1);
    transform: translateX(0);
  }

  100% {
    scale: (1.5);
    transform: translateX(30px);
  }
}


@media (max-width: 1500px) {
.image{
  width: 700px;
  height: 550px;
}

  #left-side-img {
    width: 420px;
    height: 550px;
  }

  .headline {
    > :last-child {
      padding-top: 20px;
    }
  }

  .i-am {
    font-size: 56px;
    left: -95px;
    top: 43px;
  }

  .name {
    font-size: 56px;
  }

  .profession {
    font-size: 42px;
  }

  
}

@media (max-width: 1350px) {
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .i-am {
    font-size: 40px;
    left: -75px;
    top: 60px;
  }

  .name {
    font-size: 48px;
  }

  .profession {
    font-size: 36px;
  }

  .image{
    width: 550px;
    height: 450px;
  }

  #left-side-img {
    width: 370px;
    height: 500px;
  }
}

@media  (max-width : 1250px){
  .image{
    width: 490px;
    height: 420px;
  }

  #left-side-img {
    width: 320px;
    height: 430px;
  }
}

@media (max-width: 1100px) {
 

  .scroll-down {
    right: 0px;
  }

  .text {
    width: 470px;
  }

  .image{
    width: 490px;
    height: 350px;
  }

  #left-side-img {
    width: 320px;
    height: 370px;
  }

}


@media (max-width:  1000px) {
 
  .container{
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .background-image{
  top: 370px;

  }
  .image{
    margin-top: 40px;
    width: 500px;
    height: 420px;
  }

  #left-side-img {
    width: 320px;
    height: 450px;
  }

}

@media (max-width: 750px) {
  .scroll-down {
    display: none;
  }
}

@media (max-width: 650px) {
 

  .email{
    display: none;
  }

  .scroll-down{
    display: none;
  }

  .i-am {
    font-size: 36px;
    left: -60px;
    top: 60px;
  }

  .name {
    font-size: 36px;
  }

  .profession {
    font-size: 28px;
  }

  .line{
    width: 150px;
  }

  .symbols{
  
    gap: 30px;
  }

}

@media (max-width: 550px) {

  .line{
    width: 100px;
  }
}

@media (max-width: 500px) {
  .text{
    width: 320px;
    margin-left: 10px;
  }

  .i-am {
    font-size: 28px;
    left: -50px;
    top: 67px;
  }

  .name {
    font-size: 28px;
  }

  .profession {
    font-size: 20px;
  }

  .line{
    width: 60px;
  }

  .symbols{
  
    gap: 15px;
  }
  .image{
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 700px){
  .container{
    height: 110vh;
  }
}

