<div class="lp-container" id="start">
  <div class="lp-left-side">
   
  </div>
  <img
  id="left-side-img"
  src="../../assets/img/hero character photo.png"
  alt=""
/>

  <div class="lp-right-side">
    <div class="headline">
      <div class="i-am">I am</div>
      <div class="name">David Velickovic</div>
      <div class="profession">FRONTEND DEVELOPER</div>
      <app-button [text]="text" class="btn"></app-button>
    </div>
  </div>
</div>
<div class="background-image"></div>

<div class="bottom-lp">
  <div class="symbols">
    <img src="/assets/img/line_landingpage.png" alt="" />
    <a href="mailto:davidvelickovic@hotmail.com"
      >davidvelickovic&#64;hotmail.com</a
    >
  </div>
  <div class="scroll-bar">
    <div>Scroll down</div>
    <div class="arrows">>>></div>
  </div>
</div>
