@import "../../../styles.scss";

.container {
  position: relative;
}

form {
  @include dFlex();
  flex-direction: column;
  width: 100%;

  .validity-check {
    color: red;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    width: 100%;
  }
}

.invalid-input {
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: red !important;
  background-image: url("../../../assets/img/Vectorinvalid.png");

}



[type="checkbox"] {
  display: block;
  background-image: url("../../../assets/img/check_box_outline_blank.png");
  border: 2px solid $lightBlue;
  z-index: 0;

}

[type="checkbox"]::before {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: block;
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;

}

[type="checkbox"]:checked::before {
  background-image: url("../../../assets/img/check_box.png");
}

.input-field {
  background-color: $backgroundColor;
  color: white;
  border: 1px solid $darkBlue;
  border-radius: 10px;
  width: 100%;
  padding: 15px 25px 15px 25px;
  outline: none;

  &:focus {
    border-color: $lightBlue;
  }

  &::placeholder {
    color: white;
  }

  &.ng-valid {
    border: 1px solid $lightBlue;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/Vectorvalid.png");
  }
}

.overlay-email {
  position: absolute;
  top: 0;
  left: -26px;
  color: white;
  @include dFlex();
  width: 100%;
  padding: 15px 25px 15px 25px;
  height: 100%;
  background-color: $lightBlue;
  border: 1px solid $darkBlue;
  border-radius: 10px;
}

.privacy-policy {
  @include dFlex;
  flex-direction: row;
  color: white;
  align-items: start;
 

  a {
    color: $lightBlue;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;

    &:hover {
      filter: contrast(2);
    }
  }
}

.checkbox{
  padding-top: 5px;
  @include dFlex();
  justify-content: center;
  width: 20px;
  height: 100%;
}

.privacy{
  width: 90%;
  margin-left: 4px;
}

.submit-btn {
  width: 250;
  height: 60;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  font-size: 23px;
  font-weight: 400px;
  background-color: #b6b6b6 0.25;
  cursor: pointer;
  color: white;

  &:active:not(:disabled) {
    background-color: $darkBlue !important;
    scale: (1.3);

    &:hover:not(:disabled) {
      scale: (1.3);
    }
  }
}

@media (max-width: 1200px){
  form{
    justify-content: center;
  }

  .input-field{
    width: 80%;
  }

  .privacy-policy{
    width: 80%;
  }
} 

@media (max-width: 750px) {
 
  form{
    justify-content: center;
  }
  .input-field{
    width: 80%;
  }

  .privacy-policy{
    width: 80%;
  }
}


@media (max-width: 320px) {
  .submit-btn {
    margin-bottom: 50px;
  }
  form{
    justify-content: center;
  }

  .input-field{
    width: 80%;
  }

  .privacy-policy{
    width: 80%;
  }

 
}