<div id="portfolio" class="portfolio-content">
  <div class="background-image">
    <img src="../../assets/img/background-shapes/GReen shadow (1).png" alt="" />
  </div>
  <div class="portfolio-heading">
    <div  class="portfolio-headline">
      <div>
        <div class="line1"></div>
        <span>Portfolio</span>
      <div class="line2"></div>

      </div>
    </div>
    <div class="portfolio-decsription"
      >{{"portfolio.description" | translate}}</div
    >
  </div>
  <div class="project-wrapper">
    @for (project of projects; track project; let i = $index) {
    <app-projects
      [src]="projects[i].src"
      [name]="projects[i].name"
      [language]="projects[i].language"
      [description]="'portfolio.project' + i | translate"
      [link]="projects[i].link"
      [github]="projects[i].github"
    >
    </app-projects>
    }
  </div>
  
</div>
