@import "../../styles.scss";

.portfolio-content {
  max-width: 1440px;
  width: 100vw;
}

.portfolio-heading{
  @include dFlex();
  flex-direction: column;
}

.portfolio-headline {
  display: flex;
  width: 100vw;
  max-width: 1440px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 90px;
  font-weight: 700;

  >div{
   @include dFlex();
   justify-content: end;
   width: 100%;
  }
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  >app-projects:last-child{

    .content{
    flex-direction: row-reverse !important;
    }
  }
}

.background-image{
  position: absolute;
  @include dFlex();
  width: 100vw;
  height: 30vh;
  z-index: -2;
  transform: rotate(90deg);
  opacity: 0.75;

  >img{
    width: 30%;
    height: 90%;
  }
}

.line1{
  width: 20%;
  height: 0px;
  border: 2px solid $darkBlue;
  margin-right: 30px;
}

.line2{
  width: 35% !important;
  height: 0px;
  border: 2px solid $darkBlue;
  margin-left: 30px;
}
.portfolio-decsription {
  @include dFlex();
  color: white;
  font-size: 16px;
  font-weight: 400;
}



@media (max-width: 1350px) {
  .portfolio-decsription {
    padding-bottom: 100px;
  }

  .portfolio-headline {
    > img:first-child {
      width: 50px;
    }

    > img:last-child {
      width: 250px;
    }
  }

  .portfolio-headline {
    margin-top: 150px;
  }


}
@media (max-width: 1000px) {
  .portfolio-decsription{
    width: 90vw;
  }
}



@media (max-width: 800px) {
  .portfolio-headline {
    > img:last-child {
      width: 150px;
    }
  }
}

@media (max-width: 650px) {
  .portfolio-headline {
    font-size: 46px;
  }


 
}

@media (max-width: 600px) {
  .portfolio-decsription {
    margin: 0 30px 0 30px;
  }

}
@media (max-width: 400px) {
  .portfolio-headline {
    > img:first-child {
      width: 20px;
    }
    > img:last-child {
      width: 70px;
    }
  }
  .portfolio-decsription {
    margin: 0 10px 0 10px;
  }
  
}

