<div class="contact-content" id="contact">
    <div class="contact-headline">
      <img src="../../assets/img/LINE 5.png" alt="" />
      <div>Contact</div>
    </div>
   
    <div class="content">
      <div class="left-side">
        <div class="text-container">
          <div class="header">Got a problem to solve?</div>
          <div class="left-side-content">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</div>
          <div class="bottom-line">
            Need a Frontend developer? Contact me!
          <a href="mailto:davidvelickovic@hotmail.com"> Contact me!</a>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="form">
          <app-form></app-form>
        </div>
      </div>
      <div class="go-up-btn">
        <img (click)="scrollToTop()" src="./../../assets/img/Go up button.png"  alt="" />
      </div>
    </div>
    <div class="background-image">
      <img src="./../../assets/img/background-shapes/D. blue 3 footer.png" alt="" />
    </div>
  </div>