<div class="contact-content" id="contact">
    <div class="contact-headline">
      <img src="../../assets/img/LINE 5.png" alt="" />
      <div>{{"contact.title" | translate}}</div>
    </div>
    <div class="background-image">
      <img src="./../../assets/img/background-shapes/Vector 5bot.png" alt="" />
    </div>
    <div class="content">

      <div class="left-side">
        <div class="text-container">
          <div class="header">{{"contact.problem" | translate}}</div>
          <div class="left-side-content">{{"contact.description" | translate}}</div>
          <div class="bottom-line">
            {{"contact.alert" | translate}}
          <a href="mailto:davidvelickovic@hotmail.com">{{"contact.link" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="form">
          <app-form></app-form>
        </div>
      </div>
     
    </div>
    
    <div class="go-up-btn">
      <img (click)="scrollToTop()" src="./../../assets/img/Go up button.png"  alt="" />
    </div>
  </div>