<div class="contact-content" id="contact">
    <div class="contact-headline">
      <img src="/assets/img/LINE 5.png" alt="" />
      <div>{{ "contact.contact"  }}</div>
    </div>
    <div class="shadow-left">
      <img src="/assets/img/Purple shadow footer V2.png" alt="" />
    </div>
    <div class="content">
      <div class="left-side">
        <div class="text-container">
          <div class="header">{{ "contact.header"  }}</div>
          <div class="left-side-content">{{ "contact.content" }}</div>
          <div class="bottom-line">
            {{ "contact.bottom1" 
            }}<a href="mailto:kontakt@christian-westrich.de">{{
              "contact.bottom2"
            }}</a>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="form">
          <app-form></app-form>
        </div>
      </div>
      <div class="go-up-btn">
        <img src="/assets/img/Go up button.png"  alt="" />
      </div>
    </div>
  </div>