<div class="content">
  <div class="container">
    <div class="logo">
      <div class="name">
        <span>Dav</span><span class="i">i</span> <span class="d">d</span>
      </div>

      <div class="imprint">
        <a routerLink="/imprint">{{ "footer.imprint" | translate }}</a>
      </div>
    </div>

    <div>
      <span id="name">&#169; David Velickovic 2024</span>
    </div>
    <div class="symbols">
      <div>
        <a href="https://github.com/DavidV0" target="_blank">
          <img src="../../assets/img/Github button.png" alt="github" />
        </a>
      </div>
      <div>
        <a href="mailto:contact@david-velickovic.at">
          <img src="../../assets/img/Email button.png" alt="mail" />
        </a>
      </div>
      <div>
        <a href="https://linkedin.com/in/david-velickovic" target="_blank">
          <img src="../../../assets/img/Linkedin button.png" alt="linkedIn" />
        </a>
      </div>
    </div>
  </div>
</div>
