<div class="container">
  <div class="logo">
    <div class="name">
      <span>Dav</span><span class="i">i</span> <span class="d">d</span>
    </div>

    <div class="imprint">
      <a routerLink="/imprint">Imprint</a>
    </div>
  </div>

  <div>
    <span id="name">&#169; David Velickovic 2024</span>
  </div>
  <div class="symbols">
    <div>
      <a href="https://github.com/DavidV0">
        <img src="../../assets/img/Github button.png" alt="github" />
      </a>
    </div>
    <div>
      <a href="mailto:davidvelickovic@hotmail.com">
        <img src="../../assets/img/Email button.png" alt="mail" />
      </a>
    </div>
    <div>
      <a href="mailto:davidvelickovic@hotmail.com">
        <img src="../../assets/img/Linkedin button.png" alt="linkedIn" />
      </a>
    </div>
  </div>
</div>
