* {
  margin: 0;
  padding: 0;
  font-family: poppins-regular;
}

$lightBlue: #00bee8;
$darkBlue: #4b47ff;
$backgroundColor: #141d2f;

@mixin dFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #141d2f;

}

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    background: $darkBlue;
    height: 100%;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $lightBlue;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: $darkBlue;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 750px) {
  html {
    overflow-y: overlay;

  }
}

@media (max-width: 450px) {
  html {
    overflow-y: overlay;

  }
}

@font-face {
  font-family: poppins-regular;
  src: url(../src/assets/fonts/Poppins-Regular.ttf) format("opentype");
}

@font-face {
  font-family: poppins-bold;
  src: url(../src/assets/fonts/Poppins-Bold.ttf) format("opentype");
}

@font-face {
  font-family: poppins-light;
  src: url(../src/assets/fonts/Poppins-Light.ttf) format("opentype");
}

@font-face {
  font-family: poppins-italic;
  src: url(../src/assets/fonts/Poppins-Italic.ttf) format("opentype");
}

@font-face {
  font-family: poppins-medium;
  src: url(../src/assets/fonts/Poppins-Medium.ttf) format("opentype");
}
