<div class="content" id="skills"  >

<div  class="container">
  <app-button (click)="goTo('#contact')" [text]="text" class="btn  bot"></app-button>
  <div class="left">
    <div class="icon-wrapper">
      @for (icon of icons; track icon; let i = $index) {
      <app-icon [src]="icons[i].src" [name]="icons[i].name"></app-icon>
      }
    </div>
  </div>
  <div class="right">
    <div class="right-content">
        <div class="title">
          <h2 class="my-skills">{{"skills.title" | translate}}</h2>
          <div class="line"></div>
        </div>
        <div class="description">
          {{"skills.description" | translate}}
        </div>
        <app-button (click)="goTo('#contact')" [text]="text" class="btn  top"></app-button>
    </div>
  </div>

  <div class="background-image">
    <img src="../../assets/img/background-shapes/GReen shadow (1).png" alt="" />
  </div>
</div>
</div>

