@import "../../styles.scss";

.container {
  width: 100vw;
    max-width: 1440px;
  @include dFlex();
  color: white;
}

.left {
  width: 50%;
  @include dFlex();
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;

  > img {
    width: 88px;
    height: 100px;
  }
}

.right {
  width: 50%;
}
.right-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  text-align: end;
}

.my-skills {
  width: 80%;
  color: white;
  font-size: 90px;
  font-weight: 700;
  text-align: end !important;
}

.line {
  width: 20%;
  height: 0px;
  border: 2px solid $darkBlue;
}

.description {
  width: 70%;
  font-size: 16px;
  font-weight: 400px;
  color: white;
  text-align: end;
}

.img-box {
  display: flex;
  justify-content: end;
  padding-left: 100px;
}

.btn {
  margin-top: 50px;
}

.background-image img {
  position: absolute;
  left: 0;
  opacity: 0.7;
  rotate: 151.74 deg;
  z-index: -1;
}

.bot {
  display: none;
}

@media (min-width: 1350px) {
  .top {
    display: block;
  }

  .bot {
    display: none;
  }
}

@media (max-width: 1500px) {
  .icon-wrapper {
    gap: 60px;
  }
}

@media (max-width: 1350px) {
  .container {
    margin-top: 100px;
    flex-direction: column-reverse;
  }

  .top {
    display: none;
  }

  .bot {
    display: block;
  }

  .left {
    margin-left: 0px;
  }

  .right {
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
  }

  .icon-wrapper {
    padding: 0;
  }

  .background-image img {
    top: 2182.96px;
  }

  .skill-container {
    margin: 0;
    width: unset;
  }

  .my-skills {
    text-align: center;
  }
}
@media (max-width: 760px) {
  .left {
    width: 70vw;
  }
}

@media (max-width: 650px) {
  .my-skills {
    font-size: 46px;
    text-align: end;
  }

  .background-image img {
    height: 700px;
    width: 320px;
  }
}

@media (max-width: 550px) {
  .left {
    width: 90vw;
  }
  .img-box {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .img-box {
    display: none;
  }

  .get-in-touch-btn {
    padding-left: 0px;
  }

  .icon-wrapper {
    gap: 30px;
  }

  .skill-container {
    width: 320px;
    padding-right: 20px;
  }
}
@media (max-width: 350px) {
  .skill-container {
    width: 280px;
    padding-right: 20px;
  }
}
