<div class="content" [ngClass]="{'mirrored': isMirrored}">
    <div class="left-side">
      <img src="{{ src }}" alt="" />
    </div>
    <div class="right-side" #projectRightSide>
      <div class="project-name">{{ name }}</div>
      <div class="used-language">{{ language }}</div>
      <div class="description">{{ description }}</div>
      <div class="btn-container">
        <a href="{{ link }}" target="_blank" class="live-btn">Live test</a>
        <a href="{{ github }}" target="_blank" class="git-btn">Github</a>
      </div>
    </div>
  </div>